extends layout

block content
  main
    section.contact#contact
      .contact-container
        h2 Contact Us
        p We'd love to hear from you! Please fill out the form below and we'll get back to you shortly.
        form(action="/contact_process", method="POST")
          .form-group
            label(for="name") Name:
            input(type="text", id="name", name="name", placeholder="Your Name", required)
          .form-group
            label(for="email") Email:
            input(type="email", id="email", name="email", placeholder="Your Email", required)
          .form-group
            label(for="message") Message:
            textarea(id="message", name="message", placeholder="Your Message", required)
          button.contact-btn(type="submit") Send Message
