doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Features - Study Buddies
    link(rel="stylesheet", href="/styles.css")
  body
    // Header
    header
      .logo Study Buddies
      nav
        ul
          li: a(href="/") Home
          li: a(href="#") How It Works
          li: a(href="#") Features
          li: a(href="#") Contact

    // Features Section
    section.features
      .features-container
        h2 Our Features
        p Discover the amazing features that make Study Buddies the best platform for students.

    // Footer
    footer
      p &copy; 2025 Study Buddies. All rights reserved.