extends layout

block content
  main
    section.how-it-works#how-it-works
      .how-it-works-container
        h2 How It Works
        p Learn how our platform connects you with study buddies to enhance your academic journey.
        .steps
          .step
            i.fas.fa-lightbulb
            h3 Sign Up
            p Create an account easily to get started.
          .step
            i.fas.fa-users
            h3 Find a Buddy
            p Discover and connect with like-minded peers.
          .step
            i.fas.fa-calendar-check
            h3 Schedule Sessions
            p Organize your study sessions seamlessly.
