doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title How It Works - Study Buddies
    link(rel="stylesheet", href="/styles.css")
  body
    // Header
    header
      .logo Study Buddies
      nav
        ul
          li: a(href="/") Home
          li: a(href="#") How It Works
          li: a(href="#") Features
          li: a(href="#") Contact

    // How It Works Section
    section.how-it-works
      .how-it-works-container
        h2 How It Works
        p Learn how to get started with Study Buddies and make the most out of our platform.

    // Footer
    footer
      p &copy; 2025 Study Buddies. All rights reserved.