doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    // Include Font Awesome for icons
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
    link(rel="stylesheet", href="/styles.css")
  body
    header
      .logo Study Buddies
      nav
        ul
          if user
            li: a(href="/profile") Profile
            li: a(href="/settings") Settings
            li: a(href="/chats") Chats
            li: a(href="/dashboard") Dashboard
            li: a(href="/find_buddy") Find Your Buddy
            li: a(href="/activity") Activity
            li: a(href="/logout") Logout
          else
            li: a(href="/") Home
            li: a(href="/how_it_works") How It Works
            li: a(href="/contact") Contact
            li: a(href="/login") Log In
            li: a(href="/signup") Sign Up
    block content
    footer
      .footer-nav
      p &copy; 2025 Study Buddies. All rights reserved.
      ul.social-links
        li: a(href="#") Facebook
        li: a(href="#") Twitter
        li: a(href="#") LinkedIn