extends layout

block content
  section.signup#signup
    .signup-container
      h2 Create Your Account
      p Join Study Buddies and connect with like-minded students.
      form(action="/signup_process", method="POST")
        .form-group
          label(for="name") Full Name:
          input(type="text", id="name", name="name", required)
        .form-group
          label(for="email") Email:
          input(type="email", id="email", name="email", required)
        .form-group
          label(for="password") Password:
          input(type="password", id="password", name="password", required)
        .form-group
          label(for="confirm-password") Confirm Password:
          input(type="password", id="confirm-password", name="confirm-password", required)
        .form-group
          label(for="interests") Study Interests:
          input(type="text", id="interests", name="interests", placeholder="E.g., Math, Science, Literature", required)
        button.signup-btn(type="submit") Sign Up
      p
        | Already have an account? 
        a(href="/login") Log in here
